<% include partials/head-noenroll %>
<section class="confirm">
  <div class="instructions">
    <h2>Complete Contract</h2>
    <ol>
      <li>
        Review and complete contract using DocuSign.
      </li>
    </ol>
  </div>
  <section class="form">
    <h2>Congratulations!</h2>
    <h2>You're Payment has been confirmed!</h2>
    <p>A contract has been sent to the email address provided on the enrollment
    inquiry form for signing via eSignature. Please complete as soon as possible.</p>
  </section>
</section>

<% include partials/footer %>
