<% include partials/head %>
<section class="esc">
  <section class="main">
    <span class="intro">
      This CornerStone Powersports Extended Service Contract provides coverage for
      virtually every mechanical, electrical and electronic component of your
      motorcycle. As long as your bike is currently covered under the factory
      warranty, coverage can be extended for an additional 5 years! Tire and Wheel
      Coverage is also available for a complete piece of mind.
    </span>
    <ul class="features">
      <li>
        <section class="header">
          <i class="fa fa-flag fa-2x"></i>
          <h3>Nationwide Coverage</h3>
        </section>
        <p>
          Any authorized Dealership or state licensed repair facility in the
          U.S., Alaska or Canada can perform covered repairs through the
          CornerStone United Inc. Extended Protection Program.
        </p>
      </li>
      <li>
        <section class="header">
          <i class="fa fa-road fa-2x"></i>
          <h3>No Mileage Limitation</h3>
        </section>
        <p>
          Your motorcycle was meant to be ridden, and we encourage you to do
          just that. With the CornerStone United, Inc. Extended Protection
          Program, there is no mileage limitation. The motorcycle just needs
          to be currently covered under the factory warranty to be eligible
          for enrollment.
        </p>
      </li>
      <li>
        <section class="header">
          <i class="fa fa-money fa-2x"></i>
          <h3>Zero Deductible</h3>
        </section>
        <p>
          You will face no out-of-pocket expenses. CornerStone United, Inc.
          Extended Protection Program will take care of the entire cost of
          covered parts and repairs using genuine manufacturer parts.
        </p>
      </li>
      <li>
        <section class="header">
          <i class="fa fa-wrench fa-2x"></i>
          <h3>Roadside Assitance</h3>
        </section>
        <p>
          Emergency Roadside Assistance up to $100 per occurrence.
          This includes towing, fuel delivery, and battery services.
        </p>
      </li>
      <li>
        <section class="header">
          <i class="fa fa-motorcycle fa-2x"></i>
          <h3>Coverage</h3>
        </section>
        <p>
          CornerStone United, Inc. Extended Protection Program is a
          comprehensive plan that covers all major components, parts and
          electrical/computer systems along with all seals, gaskets and
          shocks on our motorcycle. Only normal wear or maintenance items
          are not covered. We've built the CornerStone United, Inc. Extended
          Protection Program around coverage, not exclusions.
        </p>
      </li>
      <li>
        <section class="header">
          <i class="fa fa-map-signs fa-2x"></i>
          <h3>Transferable</h3>
        </section>
        <p>
          CornerStone United, Inc. Extended Protection Program is transferable
          one time during the life of the plan to the next owner, increasing
          your motorcycle's resale value. The contract can also be cancelled
          for a refund in the event of an accident or sale.
        </p>
      </li>
    </ul>
  </section>
  <section class="sidebar">
    <section class="options">
      <span>Pricing Options</span>
      <ul>
        <li>
          <label>1 Additional Year:</label>
          <section>
            <span class="msrp">$924</span>
            $688
          </section>
        </li>
        <li>
          <label>2 Additional Years:</label>
          <section>
            <span class="msrp">$1204</span>
            $824
          </section>
        </li>
        <li>
          <label>3 Additional Years:</label>
          <section>
            <span class="msrp">$1529</span>
            $975
          </section>
        </li>
        <li>
          <label>4 Additional Years:</label>
          <section>
            <span class="msrp">$1789</span>
            $1129
          </section>
        </li>
        <li>
          <label>5 Additional Years:</label>
          <section>
            <span class="msrp">$2174</span>
            $1348
          </section>
        </li>
      </ul>
    </section>
    <section class="links">
      <span>Additional Resources</span>
      <ul>
        <li><button id="claimsInfo">Claims Process</button></li>
        <li><button id="transferInfo">Transfer a Contract</button></li>
        <li><button id="cancelInfo">Cancel Contract</button></li>
        <li><button id="renewInfo">Renew Contract</button></li>
        <li>
          <a target="_blank" href="http://media.wix.com/ugd/9ddac8_43e8432b90484f83bd6d7389c051b1ce.pdf">
            <button>Extended Service Contract</button>
          </a>
        </li>
      </ul>
    </section>
  </section>
  <div id="claimsModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Claims Process</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <ol class="claims-steps">
          <li>
            Bring your Harley to any Authorized Dealership or State Licenced
            Repair Facility.
          </li>
          <li>
            Show your contract or ID Card to the Service Writer.
          </li>
          <li>
            The Repair Facility or You must call the Adminstrator at
            1-866-912-2768 to obtain a Claim Authorization Number.
          </li>
          <li>
            The Service Writer will utlize the ESC Estimate Form to request
            Pre-Authorization PRIOR to completing repairs.
          </li>
        </ol>
        <p>
          If a Mechanical Breakdown occurs when the Administrator's office is
          closed, you may follow the claims procedures without prior
          authorization. However, You or the Repair Facility MUST call the
          Administrator during the next business day. Failure to call in and
          report the claim on the next business day may result in non-payment.
          The ESC Claim Form will be used if the repair has already been
          completed.
        </p>
        <section class="links">
          <a href="http://media.wix.com/ugd/9ddac8_9eb38c41c9e24484b77a6baaf12e4893.pdf">
            ESC Estimate Form
          </a>
          <a href="http://media.wix.com/ugd/9ddac8_9eb38c41c9e24484b77a6baaf12e4893.pdf">
            ESC Claim Form
          </a>
          <a href="http://media.wix.com/ugd/9ddac8_9eb38c41c9e24484b77a6baaf12e4893.pdf">
            T/W Claim Form
          </a>
        </section>
      </section>
    </div>
  </div>
  <div id="transferModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Transfer a Contract</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <p>
          The remaining term of your contract may be transfered during a
          private party sale within 30 days of the channge of ownership.
          To ensure prompt transfer of coverage, please complete the Transfer
          Request Form.
        </p>
        <section class="links">
          <a href="http://media.wix.com/ugd/9ddac8_fa0163ca0e084d9b857df12c92bd362a.pdf">
            Transfer Request Form
          </a>
        </section>
      </section>
    </div>
  </div>
  <div id="cancelModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Cancel Contract</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <p>
          Extended Service Plan maybe cancelled with the Cancellation Request
          Form. If you cancel this contract within 30 days of the purchase date
          and you have not incurred a claim, a 100% refund of the contract
          price will be made. After 30 days or if you have incurred a claim,
          a pro-rata refund of the unused time will be made. The pro-rata
          refund will be calculated by multiplying the contract price by the
          percentage of the unused time compared to the total time of the
          contract period, less $25. The cancellation is processed by the
          selling dealer.
        </p>
        <p>
          Tire and Wheel contract may be cancelled within 30 days of purchase
          date for a 100% refund of the purchase price. No refund is available
          in the event a claim has been filed. The Cancellation Request Form
          is the same as the Extended Service Plan contract. After 30 days this
          contract is non-cancelable and no refund is available.
        </p>
        <section class="links">
          <a href="http://media.wix.com/ugd/9ddac8_10557206490345909672dd76b7aeda23.pdf">
            Cancellation Request Form
          </a>
        </section>
      </section>
    </div>
  </div>
  <div id="renewModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Renew Contract</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <p>
          Your motorcycle's Extended Service Plan contract may be renewed,
          as long as the bike is 12 years old or less. Renewal must be
          completed PRIOR to the current plan's expiration date. If there is
          a GAP in coverage, you are no longer eligible.
        </p>
        <p>
          To renew your contract, please email Jim directly for specific
          options.
        </p>
        <p>
          Jim Palmer
          <br>
          jim@discountesp.com
          <br>
          608-314-1722
          <br>
        </p>
      </section>
    </div>
  </div>
</section>

<% include partials/footer %>
