    <% include partials/head %>
    <section class="main">
      <ul class="cards">
        <li class="card">
          <h2>Extended Service Contracts</h2>
          <img src="img/esc_thumb.jpg">
          <p>
            An Extended Service Contract gives you the protection you need to
            ride worry-free. This break-down protection was designed with
            safeguarding your investment in mind and is among the most
            comprehensive in the industry. Virtually every mechanical,
            electrical and electronic component on your motorcycle is covered.
            The list of exclusions is short and sweet... so when you are in
            need of repairs, you can rest assured you're covered. Best of all,
            this coverage is good where you ride ... nationwide ...
            throughout North America, both in the United States and Canada.
          </p>
        </li>
        <li class="card">
          <h2>Tire &amp; Wheel Contracts</h2>
          <img src="img/tw_thumb.jpg">
          <p>
            Coverage includes all costs associated with the repair or
            replacement of tires and/or wheels plus labor charges including
            mounting, balancing, valve stems, taxes and towing up to $100.
            In the event repair is not possible, we will replace the damaged
            tire/wheel.
          </p>
        </li>
      </ul>
      <p class="restrictions">
        We are able to extend coverage on most motorcycles which have at least
        30 days remaining on the factory warranty. Unfortunately we are UNABLE
        to enroll bikes which are registered in the states of California,
        Florida or Oregon. Please contact us directly with any questions.
      </p>
    </section>
    <% include partials/footer %>
