<% include partials/head %>
<section class="tw">
  <section class="main">
    <span class="intro">
      Coverage includes all costs associated with the repair or replacement of
      tires and/or wheels plus labor charges including mounting, balancing,
      valve stems, taxes and towing up to $100. In the event repair is not
      possible, we will replace the damaged tire/wheel.
    </span>
    <ul class="features">
      <li>
        <section class="header">
          <i class="fa fa-exclamation-triangle fa-2x"></i>
          <h3>Road Hazard</h3>
        </section>
        <p>
          Administrator will replace a tire the becomes unservicable and is
          non-repairable due to a road hazard on a public roadway due to glass,
          metal in the road, potholes, debris, nails or blowouts.
        </p>
      </li>
      <li>
        <section class="header">
          <i class="fa fa-truck fa-2x"></i>
          <h3>Towing Assistance</h3>
        </section>
        <p>
          When towing is necessary due to a covered failure, your motorcycle
          will be towed, up to 50 miles, to the nearest qualified servcie
          facility. Towing reimbursement not to exceed $100 for replacements
          or repairs due to road hazards.
        </p>
      </li>
      <li>
        <section class="header">
          <i class="fa fa-gears fa-2x"></i>
          <h3>Wheels (Rims)</h3>
        </section>
        <p>
          You will be reimbursed for the cost incurred to repair or replace
          wheels rendered unserviceable caused by the failure of the tire due
          to a road hazard.
        </p>
      </li>
    </ul>
  </section>
  <section class="sidebar">
    <section class="options">
      <span>Pricing Options</span>
      <ul>
        <li>
          <label>1-3 Years of Coverage:</label>
          <section>
            <span class="msrp">$564</span>
            $275
          </section>
        </li>
        <li>
          <label>4-6 Years of Coverage:</label>
          <section>
            <span class="msrp">$794</span>
            $325
          </section>
        </li>
      </ul>
    </section>
    <section class="links">
      <span>Additional Resources</span>
      <ul>
        <li><button id="eligibilityInfo">Eligibility</button></li>
        <li><button id="claimsInfo">Claims Process</button></li>
        <li><button id="transferInfo">Transfer a Contract</button></li>
        <li><button id="cancelInfo">Cancel Contract</button></li>
        <li>
          <a target="_blank" href="http://media.wix.com/ugd/9ddac8_4e033ba833f3437aba0c80443efb46bb.pdf">
            <button>Tire &amp; Wheel Contract</button>
          </a>
        </li>
      </ul>
    </section>
  </section>
  <div id="claimsModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Claims Process</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <ol class="claims-steps">
          <li>
            The service writer at any State Licensed Repair Shop or the
            Contract Holder calls 1-866-912-2768   Monday through Friday,
            8:30 am - 8:00 pm EST, to obtain a claim tracking number for
            repair / replacement service. In the event a repair must be made
            after hours, follow phone instructions prior to repair.
          </li>
          <li>
            If you are submitting a claim for reimbursement, mail a copy of the
            Agreement, claim tracking number along with the original receipts
            for the service work that was completed to: CornerStone United,
            Inc., 1020 aom Ave. NW, Hickory, North Carolina, 28602.
          </li>
          <li>
            The Administrator must authorize all claims prior to repair or
            replacement fo the tire/wheel. The Administrator has the right to
            inspect any tire/wheel prior to paying for any claim benefit. In
            the event the damaged tire/wheel is not available for inspection,
            there will be no claim benefit available for reimbursement.
          </li>
        </ol>
      </section>
    </div>
  </div>
  <div id="transferModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Transfer a Contract</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <p>
          This contract may be transfered at the time of a private party sale.
          A transfer fee of $25, copies of the new registered title and bill
          of sale must be sent to CornerStone United, Inc., within 30 days of
          the resale date.
        </p>
      </section>
    </div>
  </div>
  <div id="cancelModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Cancel Contract</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <p>
          This agreement may be cancelled within 30 days of purchase date for
          a 100% refund of the purchase price. No refund is available in the
          event a claim has been filed. After 30 days this agreement is
          non-cancelable and nore refund is available.
        </p>
      </section>
    </div>
  </div>
  <div id="eligibilityModal" class="modal">
    <div class="modal-content">
      <section class="modal-header">
        <h2>Eligibility</h2>
        <span class="close">×</span>
      </section>
      <section class="modal-body">
        <p>
          New motorcycle tires with a minimum of 3/32" tread depth. Coverage
          must be purchased at the time of tire or wheel purchase.
        </p>
      </section>
    </div>
  </div>
</section>

<% include partials/footer %>
