<section name="contact" id="contact" class="contact">
      <div class="col1">
        <h2>Jim Palmer</h2>
        <h3>Harley-Davidson Motorcycle</h3>
        <h3>Extended Service Contract Specialist</h3>
      </div>
      <ul class="times">
        <li>
          <label>Monday &amp; Tuesday:</label><p>9am to 5pm CST</p>
        </li>
        <li>
          <label>Wednesday:</label><p>Off</p>
        </li>
        <li>
          <label>Thursday &amp; Friday:</label><p>9am to 5pm CST</p>
        </li>
        <li>
          <label>Saturday:</label><p>9am to 4pm CST</p>
        </li>
        <li>
          <label>Sunday:</label><p>Off</p>
        </li>
      </ul>
      <div class="col3">
        <h3>​1-608-314-1722</h3>
        <h3>jim@discountesp.com</h3>
      </div>
    </section>
    <script type="text/javascript" src="js/appie.js"></script>
    <script type="text/javascript" src="js/validator.js"></script>
  </body>
</html>
