<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Extended Service Plans Contracts for Harley Davidson Motorcycles</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.css">
    <!-- Validator.js -->
    <script type="text/javascript" src="validate.min.js"></script>
  </head>
  <body>
    <div class="very-top">
      <nav>
        <div>
          <section class="top">
            <img class="logo_mobile" src="img/logo_mobile.png">
            <img class="logo" src="img/logo.png">
            <a href="/">DiscountESP</a>
            <span class="burger">
              <span></span>
            </span>
          </section>
          <section class="container closed">
            <ul>
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/esc">Extended Service Contract</a>
              </li>
              <li>
                <a href="/tw">Tire &amp; Wheel Contract</a>
              </li>
              <li>
                <a href="/questions">Questions &amp; Resources</a>
              </li>
            </ul>
          </section>
        </div>
      </nav>
      <header>
        <a class="icon" href="http://www.facebook.com/discountesp"><i class="fa fa-facebook-official fa-3x"></i></a>
        <a class="icon" href="mailto:finance@boardtrackerhd.com"><i class="fa fa-envelope fa-3x"></i></a>
        <a class="icon" href="#contact"><i class="fa fa-phone-square fa-3x"></i></a>
        <div class="link-container">
          <a href="/enroll"><input type="button" value="Enroll Now"></a>
        </div>
      </header>
    </div>
